Repository quantumjot/btrack, pull requests merged in 2022-05, with the labels that each got.

#121 Clean up documentation and change theme
  README.md
  btrack/_localization.py
  btrack/btypes.py
  btrack/config.py
  btrack/core.py
  btrack/dataio.py
  btrack/libwrapper.py
  btrack/models.py
  btrack/utils.py
  docs/about.rst
  docs/conf.py
  docs/dev_guide/index.rst
  docs/index.rst
  docs/user_guide/configuration.rst
  docs/user_guide/large_datasets.rst
  docs/user_guide/simple_example.rst
  requirements-docs.txt
Labels: documentation

#132 Fix various mypy warnings
  .gitignore
  btrack/_localization.py
  btrack/core.py
  btrack/dataio.py
  btrack/datasets.py
  btrack/models.py
  btrack/optimise/optimiser.py
  btrack/utils.py
  tests/test_examples.py
  tests/test_tracker.py
  tests/test_utils.py
Labels: refactor

#141 Create config.yml
  .napari-hub/config.yml
Labels: napari-plugin

#115 Add napari-btrack-reader to this package
  .github/workflows/napari-hub-preview.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  btrack/napari.yaml
  btrack/napari/__init__.py
  btrack/napari/reader.py
  docs/user_guide/napari.rst
  requirements-napari.txt
  setup.cfg
  setup.py
  tests/__init__.py
  tests/conftest.py
  tests/napari/test_reader.py
  tests/test_config.py
  tests/test_io.py
  tests/test_models.py
  tests/test_tracker.py
  tests/test_tracklets.py
  tox.ini
Labels: napari-plugin

#149 Fixes btrack reader plugin
  btrack/napari.yaml
  btrack/napari/reader.py
  setup.cfg
Labels: bug, napari-plugin
