Repository quantumjot/btrack, pull requests merged in 2023-03, with the labels that each got.

#205 Add dimensionality inference when converting to napari layer
  btrack/core.py
  btrack/napari/reader.py
  btrack/utils.py
  tests/_utils.py
  tests/test_utils.py
Labels: bug, napari-plugin

#231 Add one master CI which builds, tests and deploys
  .github/workflows/build_wheels_test_and_deploy.yml
  .github/workflows/deploy.yml
  .github/workflows/linting.yml
  .github/workflows/test.yml
  .gitignore
  Makefile
  btrack/libs/libtracker.DLL
  btrack/libs/libtracker.dylib
  btrack/libs/libtracker.so
  build.sh
Labels: CI

#228 Add method to retrieve full tracking graph
  btrack/VERSION.txt
  btrack/btypes.py
  btrack/config.py
  btrack/core.py
  btrack/include/bayes.h
  btrack/include/defs.h
  btrack/include/hyperbin.h
  btrack/include/hypothesis.h
  btrack/include/inference.h
  btrack/include/manager.h
  btrack/include/motion.h
  btrack/include/pdf.h
  btrack/include/tracker.h
  btrack/include/tracklet.h
  btrack/include/types.h
  btrack/include/updates.h
  btrack/include/wrapper.h
  btrack/libwrapper.py
  btrack/src/bayes.cc
  btrack/src/hyperbin.cc
  btrack/src/hypothesis.cc
  btrack/src/inference.cc
  btrack/src/interface.cc
  btrack/src/manager.cc
  btrack/src/motion.cc
  btrack/src/pdf.cc
  btrack/src/tracker.cc
  btrack/src/tracklet.cc
  btrack/src/wrapper.cc
  tests/_utils.py
  tests/test_config.py
  tests/test_tracker.py
Labels: feature

#246 Incorporate napari btrack internally
  .github/workflows/build_wheels_test_and_deploy.yml
  .github/workflows/linting.yml
  .gitignore
  .napari-hub/DESCRIPTION.md
  README.md
  btrack/napari.yaml
  btrack/napari/__init__.py
  btrack/napari/config.py
  btrack/napari/constants.py
  btrack/napari/examples/show_btrack_widget.py
  btrack/napari/main.py
  btrack/napari/sync.py
  btrack/napari/widgets/__init__.py
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/_hypothesis.py
  btrack/napari/widgets/_motion.py
  btrack/napari/widgets/create_ui.py
  btrack/napari/widgets/io.py
  pyproject.toml
  tests/napari/test_dock_widget.py
  tests/napari/test_reader.py
Labels: napari-plugin
