Repository quantumjot/btrack, pull requests merged in 2023-08, with the labels that each got.

#350 Switch out `magicgui` in favour of `QtWidgets`
  btrack/napari/constants.py
  btrack/napari/examples/show_btrack_widget.py
  btrack/napari/main.py
  btrack/napari/sync.py
  btrack/napari/widgets/__init__.py
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/_hypothesis.py
  btrack/napari/widgets/_motion.py
  btrack/napari/widgets/create_ui.py
  tests/napari/test_dock_widget.py
Labels: napari-plugin, high priority

#355 Create tabbed widgets
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/create_ui.py
Labels: napari-plugin

#353 Add support for `3.11`
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .readthedocs.yaml
  pyproject.toml
Labels: CI

#363 Change hypotheses boxes to `QListWidget` to reduce space
  .pre-commit-config.yaml
  btrack/btypes.py
  btrack/io/_localization.py
  btrack/io/exporters.py
  btrack/io/hdf.py
  btrack/napari/config.py
  btrack/napari/sync.py
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/_hypothesis.py
  btrack/napari/widgets/_motion.py
  btrack/napari/widgets/create_ui.py
  tests/test_shared_lib.py
Labels: napari-plugin

#367 Change widget heading names
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/create_ui.py
Labels: napari-plugin

#368 Move stuff from motion to match original picture
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/_hypothesis.py
  btrack/napari/widgets/_motion.py
Labels: napari-plugin

#370 Add title, logo, and docs link
  btrack/napari/assets/btrack_logo.png
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/create_ui.py
Labels: napari-plugin

#376 Add default ranges for numerical issues
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/_hypothesis.py
  btrack/napari/widgets/_motion.py
Labels: napari-plugin

#374 Change values from `0.001` to `0.1` / use config from `btrack-examples`
  .gitignore
  btrack/napari/config.py
  btrack/napari/widgets/_general.py
  docs/user_guide/configuration.rst
  models/cell_config.json
  models/cell_config_flat.json
  models/particle_config.json
  tests/_utils.py
  tests/napari/test_dock_widget.py
  tests/test_config.py
  tests/test_examples.py
Labels: napari-plugin

#379 Don't set widget values in the widgets (as done from file)
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/_hypothesis.py
  btrack/napari/widgets/_motion.py
Labels: napari-plugin

#378 Improvements to hypothesis tab
  btrack/config.py
  btrack/core.py
  btrack/napari/main.py
  btrack/napari/sync.py
  btrack/napari/widgets/_general.py
  btrack/napari/widgets/_optimiser.py
  btrack/napari/widgets/create_ui.py
  tests/_utils.py
  tests/napari/test_dock_widget.py
Labels: napari-plugin

#390 Turn off `codecov/patch`
  codecov.yml
Labels: CI

#328 Some typing changes, general improvements, utilising generators etc.
  btrack/btypes.py
  btrack/core.py
  btrack/datasets.py
  btrack/io/_localization.py
  btrack/io/exporters.py
  btrack/io/hdf.py
  btrack/io/importers.py
  btrack/io/utils.py
  btrack/models.py
  btrack/napari/__init__.py
  btrack/napari/config.py
  btrack/napari/reader.py
  btrack/utils.py
  pyproject.toml
  tests/_utils.py
  tests/test_config.py
  tests/test_tracker.py
  tests/test_tracklets.py
Labels: refactor

#391 Clarify some variable names and save by file stem as default
  btrack/napari/main.py
  btrack/napari/widgets/_general.py
  tests/napari/test_dock_widget.py
Labels: napari-plugin

#394 Add generation to docstrings
  btrack/btypes.py
Labels: documentation
